{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="">Bienvenue</h1>
    <section>
        <article>
            <form method="post" class="d-flex flex-column justify-content-md-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="ec-input bg-white" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="ec-input bg-white"
                           autocomplete="current-password ec-input" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <button class="btn ec-btn" type="submit">
                    Sign in
                </button>
            </form>
            <div class="text-center mt-4">
                <p class="$iv-main-darkgrey" >Première fois ? <a href="{{ path('app_register') }}" class="iv-color">Inscrivez-vous !</a></p>
            </div>
        </article>
    </section>

{% endblock %}
