<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-md-between">
        <a class="navbar-brand" href="/"><img src="{{ asset('build/images/EmmausConnectLogo.jpg') }}" alt=""></a>

                <ul class="navbar-nav me-3 mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}"></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-person-circle"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">{% if app.user %}
                            {{ app.user.username }}
                        {% endif %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left"></i></a></li>
            </ul>

        </div>
    </div>
</nav>