{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="">Inscription</h1>
<section>
    <article>
        <form method="post" class="d-flex flex-column justify-content-md-center">

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.fullName) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn ec-btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
        </form>
    </article>
</section>
{% endblock %}
