{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <h1>Listes des Appareils</h1>
<ul>
        {% for device in devices %}
{{ dump(device) }}
         <li>{{ device.brand.nameBrand }}</li>
            <li>{{ device.name }}</li>
                <li><img src="{{ device.image }}" alt=""></li>
                <li>{{ device.stock }}</li>
                <li>{{ device.memory.numberMemory }}</li>
                <li>{{ device.sizeScreen.numberSizeScreen }}</li>
            <li>{{ device.state.nameState }}</li>
            <li>{{ device.camera.numberPixel }}</li>
            <li>{{ device.price }}</li>
                <li>
                    <a href="{{ path('app_device_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('app_device_edit', {'id': device.id}) }}">edit</a>

                </li>

        {% else %}
            </ul>
        {% endfor %}


    <a href="{{ path('app_device_new') }}">Create new</a>
{% endblock %}
