{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include '_includes/filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for device in devices %}
                        {% include '_includes/card.html.twig' with {device: device} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {#  <h1>Device index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.image }}</td>
                <td>{{ device.stock }}</td>
                <td>
                    <a href="{{ path('app_device_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('app_device_edit', {'id': device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_device_new') }}">Create new</a>#}
{% endblock %}
