{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}


    <h1>Listes des Appareils</h1>

    <div class="container ">

        <div class="row">
            <div class="col-md-3 hk-listing">
                {% include '_includes/filter.html.twig' with {form: form} only %}
            </div>

            <div class="col-md-7 hk-listing">


                        {% for device in devices %}
                            {% include '_includes/card.html.twig' with {device: device} only %}
                            <div class="hk-li">
                                <div>
                                    <a href="{{ path('app_device_show', {'id': device.id}) }}">
                                        <img class="hk-img" src="{{ asset('build/images/' ~ device.image) }}" alt="">
                                    </a>
                                </div>
                                <ul>

                                <li>
                                    Mémoire {{ device.memory.numberMemory }}
                                </li>
                                <li>
                                    Taille {{ device.sizeScreen.numberSizeScreen }}</li>
                                <li>Etat {{ device.state.nameState }}</li>
                                <li>
                                    Caméra {{ device.camera.numberPixel }}</li>
                               </ul>


                            </div>

                        {% endfor %}
            </div>
            <div>
                {{ knp_pagination_render(devices) }}
            </div>
            </div>
    </div>


    <a href="{{ path('app_device_new') }}">Create new</a>
{% endblock %}