{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <h1> {{ device.name }}</h1>
    <div class="hk-show-device">
        <ul class="hk-device-presentation">
            <li>Marque : {{ device.brand.nameBrand }}</li>
            <li><img src="{{ device.image }}" alt=""></li>
        </ul>
        <ul class="hk-device-content">
            <li>Stock {{ device.stock }}</li>
            <li>Mémoire {{ device.memory.numberMemory }} {{ '|' }} {{ device.memory.price }} {{ '€'}} </li>
            <li>Taille {{ device.sizeScreen.numberSizeScreen }} {{ '|' }} {{ device.sizeScreen.price }} {{ '€'}}</li>
            <li>{{ device.state.nameState }}</li>
            <li>Caméra {{ device.camera.numberPixel }} {{ '|' }} {{ device.camera.price }} {{ '€'}}</li>
            <li>
        </ul>
    </div>
    <div class="test">
    <a href="{{ path('device') }}" >Revenir a la liste</a>
    </div>
{% endblock %}
