{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <h1>Device {{ device.name }}</h1>
<ul>
    <li>Marque : {{ device.brand.nameBrand }}</li>
    <li></li>
    <li><img src="{{ device.image }}" alt=""></li>
    <li>{{ device.stock }}</li>
    <li>{{ device.memory.numberMemory }}</li>
    <li>{{ device.sizeScreen.numberSizeScreen }}</li>
    <li>{{ device.state.nameState }}</li>
    <li>{{ device.camera.numberPixel }}</li>
    </ul>
    <a href="{{ path('app_device_index') }}">back to list</a>

    <a href="{{ path('app_device_edit', {'id': device.id}) }}">edit</a>

    {{ include('device/_delete_form.html.twig') }}
{% endblock %}
